@charset "UTF-8";
/* CSS Document */

*, html, body{
	font-family: "Roboto", sans-serif;
}

/*Navigation Styles */
.nav-background {
	height: auto;
	width: 100%;
	background-color: #000000;
}

.nav-style {
	height: auto;
	width: auto;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -0.08px;
	line-height: 26px;
	text-align: center;
	font-weight: 200;
	padding-right: 1rem;
	padding-left: 1rem;
    border-bottom: 2px solid #000;
}

.nav-style:hover{
	/*color: #EEA704 !important;*/
	color: #000;
	border-bottom: 2px solid #EEA704;
	background-color: #000
}

.nav-style-active{
	color: #EEA704 !important;
	
	height: 24px;
	width: 79px;
	font-size: 20px;
	letter-spacing: -0.08px;
	line-height: 26px;
	text-align: center;
}

.nav-item-active {
	color: #EEA704 !important;
}

.hero-background {
	background-image: url("../images/circuits.jpg");
	background-attachment: fixed;
	/*background-color: #000000;*/
	height: 600px;
	opacity: 1;
}

.hero-text {
    max-width: 520px;
	color: #FFFFFF;	
	font-family: Roboto;	
	font-size: 80px;	
	font-weight: bold;	
	letter-spacing: 1px;	
	line-height: 94px;
	text-align: left;
}

.hero-button {
	background-color: #000;
	border: 2px solid #000;
	border-radius: 5px;
}

.hero-button:hover{
	background-color:#EEA704;
	color: #000;
	border-color: inherit;
	box-shadow: 5px 5px #fff;
	/*box-shadow: 0px -5px rgba(0,0,0,0.3) inset;*/
}

.about-text {
	height: 10%;
	width: 1014px;
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 40px;
	text-align: center;
}

.about-section {
	height: 15%;
	width: auto;
}

.features {
    margin: 100px 0px;
}

.white-border {
	border: 2px solid #fff;
	margin: 2%;
	height: 100%;
	
	-webkit-clip-path: polygon(31% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
	clip-path: polygon(31% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
	background-color: #fff;


}
.card-body{
	background-color: #fff;
}

.card-body:hover{
	background-color: #EEA704;
}


#card-1{
	/*background-image: url("../Card.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #000;
	height: 500px;
	margin-bottom: 5%;
}

#card-2{
	/*background-image: url("../Card.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #000;
	height: 500px;
	margin-bottom: 5%;	
}

#card-3{
	/*background-image: url("../Card.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #000;
	height: 500px;
	margin-bottom: 5%;
}
.card-image {
	opacity: 0;
	height: 80%;
}

.icon {
	background-color: #000;
    padding: 3%;
    margin-right: 5%;
    color: #fff;
	display: inline-block;
}

.icon-lg{
	vertical-align: top;
    height: 65px;
	background-color: #000;
    padding: 3%;
    margin-right: 5%;
    color: #fff;
	display: inline-block;
}

.icon-lg i{
	padding-top: 10px;
}

ul{
	list-style-type: none;
	padding: 0px
}

.list-margin li {
	margin-bottom: 5%;
}


ul li:hover{
	background-color: #EEA704;
}

.subtext {
	height: 2%;	
	width: 100%;	
	color: #000000;	
	font-family: Roboto;	
	font-size: 18px;	
	font-weight: 100;	
	letter-spacing: -0.11px;	
	line-height: 32px;
}

.margin {
	margin: 5% 0px;
}

#polygon-row {
	position: relative;
    top: -60px;
    background-color: transparent;
}

.break-margin {
	height: 2%;
}


.block-title {
    background-color: #fff;
    padding: 5%;	
}

.block-title:hover{
	background-color: #EEA704;
}
.contact-border {
	border: 2px solid #000;
	width: 80%;
}

.contact-detail {
	display: inline-block;
    margin-bottom: 0px;
}

.card-clip{
-webkit-clip-path: polygon(31% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
clip-path: polygon(31% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
}

.card-2 {
	background-image: url("../images/lab.jpg");
}

.card-1 {
	background-image: url("../images/lab_far.jpg");
}

.card-3 {
	background-image: url("../images/microscope.jpg");
}

@media screen and (max-width: 768px){
	
	.hero-text {
		height: 240px;	
		font-size: 64px;	
		font-weight: bold;	
		letter-spacing: 1px;	
		line-height: normal;
		text-align: left;
    	margin-top: 10%;
}
    .navbar-brand {
        font-size: 16px;
    }
}

@media screen and (max-width: 421px){
	
	.hero-text {
		height: 240px;	
		width: 300px;	
		font-size: 48px;	
		font-weight: bold;	
		letter-spacing: 1px;	
		line-height: normal;
		text-align: left;
    	margin-top: 25%;
		
}
    .jumbotron h1 {
        font-size: 35px !important;
    }
}



.black-background {
	background-color: #000;
	z-index: 1;
}

.white-space {
	line-height: 200px;
}

.heading {
	margin-bottom: 2%;
}

/*Machines Page*/
.yellow-background {
	background-color: hsla(42,97%,47%,1.00);
	height: 200px
}

.yellow-background h1{
	color: #fff;
}

.yellow-background h1{
	font-size: 48px;
}

#machine {
    min-height: 50vh;
}

#machine img{
	width: 100%;
}
.table-style {
	
}

.table-header {
	font-weight: bolder;
	font-size: 16px;
}

.manufacturer {
	text-align: left;
	font-size: 16px
}

.border-yellow {
	border-right: 2px solid hsla(42,97%,47%,1.00);
}

.clip {
		-webkit-clip-path: polygon(31% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
	clip-path: polygon(31% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
	background-color: #fff;
	
	margin-bottom: 3%;
}

footer a{
	color: #FFB300 !important;
}

.thick {
	height: 10px;
	color: #ffb300;
	background-color: #ffb300;
	margin: 100px 0px 0px;
	padding: 0px;
}
